/*header*/
header {
    position: relative;
    .fa-bars {
        position: absolute;
        top: 15px;
        right: 40px;
        font-size: 1.4rem;
        color: #fff;
        cursor: pointer;
    }
}

/*nav*/
#slide-nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100vh;
    background: #fafdfd;
    border-left: 1px solid #aaa;
    transform: translateX(500px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
    ul {
        margin: 100px 0;
        li {
            cursor: pointer;
            line-height: 190%;
        }
    }
}

.toggle {
    transform: translateX(0px) !important;
}

/*main*/
.container {
    padding: 50px 0px;
    margin-top: 40px;
    h1 {
        margin: 30px;
        padding: 0.8rem;
        font-size: 1.8rem;
        background: #dbdbaf;
        color: #777;
        text-align: center;
        font-weight: 600;
    }
    .chart-area {
        margin: 50px 0;
        canvas {
            height: 390px !important;
        }
    }
    .sort-area {
        padding: 8px 0;
        .sort-text {
            font-size: 1.1rem;
            font-weight: bold;
            margin-right: 10px;
            vertical-align: middle;
        }
        #select-box {
            margin: 20px 0;
            vertical-align: middle;
        }
    }

    #radar-area {
        table {
            margin-top: 50px;
        }
    }
}

/*footer*/
footer {
    background: #343a40;
    padding: 1rem;
    p {
        color: #fff;
        text-align: center;
    }
}

/*responsive*/
@media (max-width: 1024px) {
    #slide-nav {
        width: 35vw;
    }
}

@media (max-width: 600px) {
    #slide-nav {
        width: 55vw;
        li {
            font-size: 0.8rem;
        }
    }
}