/*header*/
header {
  position: relative;
}

header .fa-bars {
  position: absolute;
  top: 15px;
  right: 40px;
  font-size: 1.4rem;
  color: #fff;
  cursor: pointer;
}

/*nav*/
#slide-nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  height: 100vh;
  background: #fafdfd;
  border-left: 1px solid #aaa;
  transform: translateX(500px);
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.8s;
}

#slide-nav ul {
  margin: 100px 0;
}

#slide-nav ul li {
  cursor: pointer;
  line-height: 190%;
}

.toggle {
  transform: translateX(0px) !important;
}

/*main*/
.container {
  padding: 50px 0px;
  margin-top: 40px;
}

.container h1 {
  margin: 30px;
  padding: 0.8rem;
  font-size: 1.8rem;
  background: #dbdbaf;
  color: #777;
  text-align: center;
  font-weight: 600;
}

.container .chart-area {
  margin: 50px 0;
}

.container .chart-area canvas {
  height: 390px !important;
}

.container .sort-area {
  padding: 8px 0;
}

.container .sort-area .sort-text {
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: 10px;
  vertical-align: middle;
}

.container .sort-area #select-box {
  margin: 20px 0;
  vertical-align: middle;
}

.container #radar-area table {
  margin-top: 50px;
}

@media (max-width: 1024px) {
  #slide-nav {
    width: 35vw;
  }
}

@media (max-width: 600px) {
  #slide-nav {
    width: 55vw;
  }
  #slide-nav li {
    font-size: 0.8rem;
  }
}
